body {
  margin: 0;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  flex: 0 0 auto;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  flex: 0 0 auto;
  background-color: black;
}

.pixel {
  background-color: black;
  float: left;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.pixel.on {
  background-color: greenyellow;
}

.link {
  color: greenyellow;
}
